# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
log/
logs/

# OS specific
.DS_Store
Thumbs.db

# Sensitive information
SECRETS_SETUP.md
scripts/.env
